@page "/todo"
@rendermode InteractiveServer

<h3>Todo</h3>

<form @onsubmit="AddToList" class="entryInput">
    <input @bind="newEntryValue" @bind:after="OnEntryChange" placeholder="New entry" />
    <button type="submit" class="addButton">+</button>
</form>

@if (todoList == null)
{
    <p>Loading list...</p>
}
else if (todoList.Count() == 0)
{
    <p>Empty list</p>
}
else
{
    <ul class="todoList">
        @for (int i = 0; i < todoList.Count(); i++)
        {
            var tIndex = i;
            <li>
                @todoList[i]
                <button @onclick="() => RemoveFromList(tIndex)" class="removeButton">-</button>
            </li>
        }
    </ul>

    <button @onclick="DownloadToFile">Download</button>
}